@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-height: 64px;
}

html,
body {
  min-height: 100vh;
}

.page-height {
  min-height: calc(100vh - var(--nav-height) - 49px) !important;
}

.nav-tabs .content {
  display: none;
}

.btn-dropdown {
  height: 40px;
}

.btn-dropdown > button  {
  height: revert !important;
}

.user > .names > .name,
.user > .names > .social {
  @apply overflow-hidden overflow-ellipsis max-w-[15rem];
}

.danger-zone div.title {
  color: red;
}