@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-height: 64px;
}

.page-height {
  min-height: calc(100vh - var(--nav-height)) !important;
}

.nav-tabs .content {
  display: none;
}

.btn-dropdown {
  height: 40px;
}

.btn-dropdown > button  {
  height: revert !important;
}